html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.button {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin: auto;
    border: 1px solid black;
    width: 300px;
    height: 50px;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: default;
}

.button h5 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: auto;
}

.div {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: auto;
}

.div h1, h3 {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin-top: auto;
}

#players {
    height: auto;
}

.square {
    margin: auto;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.player {
    display: inline-block;
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

#die {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    background-image: url("images/die_0.png");
}

#answer0, #answer1, #answer2, #answer3 {
    height: 75px;
    width: 500px;
}

#answer0 {
    background-color: red;
    color:white;
}

#answer0:hover {
    background-color: indianred;
}

#answer1 {
    background-color: blue;
    color:white;
}

#answer1:hover {
    background-color: dodgerblue;
}

#answer2 {
    background-color: limegreen;
    color:white;
}

#answer2:hover {
    background-color: lightgreen;
    color: black;
}

#answer3 {
    background-color: yellow;
    color: black;
}

#answer3:hover {
    background-color: #ffff82;
    color: black;
}

table {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.button p {
    position: relative;
    top: 29%;
    transform: translateY(-50%);
}

table {
    border-collapse: collapse;
}

table, tr, th {
    border: none;
}

#message {
    position: fixed;
}

#player-form {
    width: 500px;
}

#main {
    z-index: 10;
}
